

.bought{
    font-family: var(--fontNunito);
}

.bought_img{
    width: 200px;
}
.titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px white solid;
}

.emptyContainer{
    height: auto;
    width: 30%; 
}
.h6Container{
    height: auto;
    width: 20%; 
}
h6{
    font-size: 1em;
}