/* Estilos generales de la barra de navegación */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5vw 9vw;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan en pantallas pequeñas */
}
.spanWelcome{
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  margin: 0 13px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3 ease;
}

.spanAdmin{
  z-index: 1;
  position: absolute;
  bottom: -35%;
  font-size: 12px;  
  right: 50%;
}
.containerLP {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* Envuelve los elementos en pantallas pequeñas */
}

.containerL {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* Envuelve los elementos en pantallas pequeñas */
}

.logo {
  width: 120px;
  height: auto;
  cursor: pointer;
  margin-right: 15px;
  /* Espacio entre el logo y otros elementos en pantallas grandes */
}

.icons {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.button {
  border: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  margin: 0 13px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.button:hover {
  border-bottom-color: black;
}

.icon_name_user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--colorNegro);
}

.name {
  border: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  margin: 0 13px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3 ease;
}

.iconImage {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.menu_button {
  display: none;
  /* Oculta el botón en pantallas grandes */
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  width: 30px;
}

/* Estilos para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media screen and (max-width: 768px) {
  .container {
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    margin: 2.5vw 0;
    /* Elimina el margen horizontal en pantallas pequeñas */
  }

  .navRight {
    margin: 16px 25px;
    /* Elimina el margen horizontal en pantallas pequeñas */
  }

  .logo {
    margin: 10px 25px;
  }

  .containerLP,
  .containerL {
    flex-direction: column;
  }

  .button {
    margin: 5px 0;
    /* Agrega margen vertical a los botones en pantallas pequeñas */
  }

  .menu_button {
    display: block;
    /* Muestra el botón en pantallas pequeñas */
  }
}



.dropdownContainer {
  position: relative;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.buttonDropdown {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Inter", sans-serif;
}

.dropdownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}